.btn-main, .btn-sec, .btn-sec-s, .btn-main-s {
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  background-color: #0075FF;
  color: rgb(255, 255, 255);
  border: none;
  border: solid 1px #0075FF;
}
.btn-main:hover, .btn-sec:hover, .btn-sec-s:hover, .btn-main-s:hover {
  background-color: #ffffff;
  color: #0075FF;
  border: solid 1px #0075FF;
  color: #0075FF;
}
.btn-main-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.btn-sec, .btn-sec-s {
  color: black;
  background-color: transparent;
  border: none;
}
.btn-sec:hover, .btn-sec-s:hover {
  color: #888;
}
.btn-sec-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

.main-menu {
  margin-bottom: 0;
}
.main-menu li {
  font-size: 0.75rem;
  list-style: none;
  display: inline;
  margin-right: 2rem;
}
.main-menu li a {
  text-decoration: none;
  color: black;
}
.main-menu li a:hover {
  text-decoration: underline;
}

.icon-sm i {
  font-size: 1.25rem;
  color: #0075FF;
  padding: 0.4rem 0.65rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3333333333);
}

.feature {
  display: flex;
  flex-direction: column;
}
.feature .icon {
  color: #0075FF;
  font-size: 10rem;
  text-align: center;
}
.feature .description .title {
  font-size: 2rem;
  text-align: center;
}
.feature .description .text {
  color: #888;
  font-weight: 600;
  text-align: center;
}
.feature .cta {
  margin-top: 3rem;
  color: #0075FF;
  font-weight: 600;
  text-align: center;
}

.icon-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon-desc .icon {
  color: #0075FF;
  font-size: 10rem;
  padding: 0;
}
.icon-desc .title {
  margin-top: -2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

body {
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 4rem;
  border-bottom: solid 1px #ddd;
}

.logo img {
  max-width: 7rem;
}

.sec-home {
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 3rem;
  display: flex;
  align-items: center;
}
.sec-home .home-cta {
  flex: 1;
}
.sec-home .home-cta .cta-text {
  color: #0075FF;
}
.sec-home .home-cta home-title {
  width: 20rem;
  font-size: 3rem;
}

.sec-features, .sec_benefits {
  width: 100%;
  max-width: 992px;
  margin: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-features .intro, .sec-features .sec_benefits, .sec_benefits .intro, .sec_benefits .sec_benefits {
  text-align: center;
}
.sec-features .intro h3, .sec-features .sec_benefits h3, .sec_benefits .intro h3, .sec_benefits .sec_benefits h3 {
  font-size: 1.8rem;
}
.sec-features .intro p, .sec-features .sec_benefits p, .sec_benefits .intro p, .sec_benefits .sec_benefits p {
  font-size: 0.8rem;
  color: #888;
}
.sec-features .features, .sec_benefits .features {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.sec-features .features .text, .sec_benefits .features .text {
  flex: 1;
  padding: 2rem 0;
}
.sec-features .features .text .feature, .sec_benefits .features .text .feature {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sec-features .features .text .feature .description, .sec_benefits .features .text .feature .description {
  margin-left: 1rem;
  max-width: 20rem;
}
.sec-features .features .text .feature .description .description-title, .sec_benefits .features .text .feature .description .description-title {
  font-size: 1.25rem;
}
.sec-features .features .text .feature .description .description-text, .sec_benefits .features .text .feature .description .description-text {
  font-size: 1rem;
  width: 100%;
}
.sec-features .features .image, .sec_benefits .features .image {
  max-width: 20rem;
}/*# sourceMappingURL=index.css.map */