/* (1, 0, 0) */
/* (0, 1, 0) */
/* (0, 0, 1) */
/* (0, 0, 0) */

#h1-id{
    color: salmon;
}

h1-clase{
    color: green;
}

h1{
    color: blue !important;
}
    /* EVITAR en la medida de lo posible el !important */

p{
    color: red;
}

